@media (min-width: 992px) and (max-width: 1200px){
    .contact-us-content{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, auto);
 gap: 2rem;
}
.team-member:nth-child(1) {
  grid-row: 2;
  grid-column: 1;
 
  background-color: var(--clr-section2-bg);
 
  padding: 1rem;
}
.team-member:nth-child(3) {
  grid-row: 2;
  grid-column: 4; 
  background-color: var(--clr-section2-bg);
 
  padding: 1rem;
}
#contact-us #contactForm {
  width: 400px;
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
  place-self: center;
  padding: 2rem;
  border-radius: 1.5rem;
  border: 2px solid var(--clr--text2);
  box-shadow: 0px 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.7);
  background-color: var(--clr--text-sub);
}
}