@media(min-width: 768px) and (max-width: 992px) {
  html{
    font-size:60%
  }
   .gallery-container {
    grid-template-columns: 1fr 1fr; 
    grid-gap: 1rem; 
  }
.gallery-link:nth-child(1),
  .gallery-link:nth-child(2),
  .gallery-link:nth-child(4) ,
  .gallery-link:nth-child(3) {
    grid-column: span 1; 
  }
   .cards-container {
    grid-template-columns: repeat(3, 1fr); 
    gap: 1.5rem; 
  }
  #first-wrapper{
    background-size: 100% 100%;
    height: 50rem;
  }
 .wrapper-content {
    width: 90%;
   
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  .wrapper-title{
  height: 30rem;
  width: 100%;
}
.h1--changing {
    font-size: 6.5rem;
    width: 100%;
  }
  .h2--changing {
    font-size: 4.2rem;
    width: 100%;
  }
  .p--first {
    font-size: 1.4rem;
    width: 80%;
  }
  /* ========== */
  #contact-us{
    height: auto;
  }
    .contact-us-content{
      display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  gap: 2rem;
  }
 
  #contact-us  #contactForm {
  grid-row: 1;
  grid-column:  2; 
  grid-column-end:span 2;
  /* width: 100%; */
}
 
.team-member:nth-child(1) {
  grid-row: 2;
  grid-column: 1;
   grid-column-end:span 2;
}

.team-member:nth-child(3) {
  grid-row: 2;
  grid-column: 3 ; 
   grid-column-start:span 2;

} 
}