@media (max-width: 576px) {
  html {
    
    font-size: 50%;
  }
  body {
    padding: 0;
  
  }

 
  .fa-bars {
    position: absolute;
    top: 4rem;
    right: 4rem;
    z-index: 5;
    display: block;
  }
  .fa-xmark {
    position: absolute;
    top: 4rem;
    right: 4rem;
    z-index: 5;
    display: none;
  }
  .btn-nav {
    display: block;
  }

  .nav-container {
    width: 100%;
  
  }
  .nav-bar {
    display: block;
  }

  .main-nav-list {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
      to right,
      rgba(7, 8, 22, 1),
      rgba(46, 100, 242, 1.1)
    );
    z-index: 2;
    display: none;
  }
  .main-nav-list.show-menu {
    display: flex;
  }
  .main-nav-link {
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
  }
  .theme-switch {
    display: none;
  }
  #first-wrapper {
    height: 40rem;
    background-position: center;
    background-size: 100% 100%;
  }
  .wrapper-content {
    width: 90%;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  .wrapper-title{
  height: 20rem;
 width: 100%;
}
  .h1--changing {
    font-size: 5rem;
    width: 90%;
  }
  .h2--changing {
    font-size: 3.2rem;
    width: 90%;
  }
  .p--first {
    font-size: 1.4rem;
    width: 80%;
  }
  .gallery-title {
    font-size: 3.5rem;
  }
  #contact-us {
    height: auto;
  }
  .cards-container,
  .gallery-container,
  .review-content {
    grid-template-columns: 1fr;
  }
  
  .holiday-offers .gallery {
    padding: 0.5rem 0;
  }
  .btn-details {
    font-size: 1.5rem;
  }
  .gallery-link:nth-child(1),
  .gallery-link:nth-child(2),
  .gallery-link:nth-child(3),
  .gallery-link:nth-child(4) {
    grid-column: auto;
  }

  .grid-3 {
    grid-template-columns: 1fr;
  }
  /* ========= */
   .contact-us-content {
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(3, auto); 
  }

  #contact-us #contactForm {
    grid-row: 1; 
    grid-column: 1; 
    width: 100%; 
    max-width: none; 
  }

  .team-member:nth-child(1) {
    grid-row: 2; 
    grid-column: 1; 
  }

  .team-member:nth-child(3) {
    grid-row: 3; 
    grid-column: 1; 
  }
}
